/server/common/Service/target/
/server/operational/target/
/common/exchange/target/
/common/security/target/
/common/util/target/
/server/common/core/target/
/server/common/dao/target/
/server/common/netty/server/target/
/server/common/exchange/target/
/server/common/service/target/